<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Football App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="data">
  <div class="ion-text-center">
    <h2>Player Detail</h2>
  </div>
  <ion-card>
    <ion-card-header>
      <img src="{{data.playerAvatar}}" />
      <ion-card-title>{{data.playerName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Teams:</h2>
      <ion-item *ngIf="team" [routerLink]="['/', 'team', team.id]">
        <ion-avatar slot="start">
          <img src="{{team.teamLogo}}">
        </ion-avatar>
        <ion-label>
          <h2>{{team.teamName}}</h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
