<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Football App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="data">
  <div class="ion-text-center">
    <h2>Team Detail</h2>
  </div>
  <ion-card>
    <ion-card-header>
      <img src="{{data.teamLogo}}" />
      <ion-card-title>{{data.teamName}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>Players in Team:</h2>
      <ion-item *ngFor="let player of players" [routerLink]="['/', 'player', player.id]">
        <ion-avatar slot="start">
          <img src="{{player.playerAvatar}}">
        </ion-avatar>
        <ion-label>
          <h2>{{player.playerName}}</h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
