<ion-header>
  <ion-toolbar>
    <ion-title>Leagues List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="term" (ionChange)="searchChanged()">
  </ion-searchbar>
  <ion-list *ngFor="let league of leagues" [routerLink]="['/', 'league', league.leagueId]">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{league.leagueLogo}}">
      </ion-avatar>
      <ion-label>
        <h2>{{league.leagueName}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
