<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="data">
  <ion-card>
    <ion-card-header>
      <img src="{{data.leagueLogo}}" />
      <ion-card-title>{{data.leagueName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Teams in League:</h2>
      <ion-grid>
        <ion-row>
          <ion-col offset-4>
            <div>Team 1</div>
          </ion-col>
          <ion-col>
            <div> Team 2</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
