<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>League Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="data">
  <ion-card>
    <ion-card-header>
      <img src="{{data.leagueLogo}}" />
      <ion-card-title>{{data.leagueName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Team in League:</h2>
      <ion-item *ngFor="let team of teams" [routerLink]="['/', 'team', team.id]">
        <ion-avatar slot="start">
          <img src="{{team.teamLogo}}">
        </ion-avatar>
        <ion-label>
          <h2>{{team.teamName}}</h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
