<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let team of teams" [routerLink]="['/', 'team', team.id]">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{team.teamLogo}}">
      </ion-avatar>
      <ion-label>
        <h2>{{team.teamName}}</h2>
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
